@font-face {
    font-family: Bungee;
    src: url(/assets/fond/Bungee.ttf);
}

@font-face {
    font-family: Mairo;
    src: url(/assets/fond/Mairo.otf);
}

@font-face {
    font-family: kindergarten;
    src: url(/assets/fond/kindergarten.ttf);
}

body {
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header button {
    font-size: 20px;
    font-family: "Bungee";
    padding: 16px;
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

.btnAdd:active {
    text-shadow: 0 10px 15px #c40a0a, 0 40px 60px #020001;
}

#btnClear:active {
    text-shadow: 0 10px 15px #ccb522, 0 40px 60px #020001;
}

#btnClear {
    color: red;
    font-size: 20px;
    display: inline-block;
    text-shadow: 0 5px 5px #f1f0ec, 0 40px 60px #020001;
}

.btnAdd {
    color: grey;
    font-size: 20px;
    display: inline-block;
    text-shadow: 0 5px 5px #f1f0ec, 0 40px 60px #020001;
}

h1 {
    color: rgb(245, 240, 240);
    padding-top: 1%;
    letter-spacing: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "Mairo";
    text-shadow: 0 10px 15px #000000, 0 40px 60px #f4eff1;
}
#table {
	display: table;
	width: 100%;
	height: 100%;
}

#centeralign {
	display: table-cell;
	vertical-align: middle;
}
button {

    color: rgb(206, 9, 9);
    text-align: center;
    font-size: 20px;
    font-family: "Bungee";
    background: unset;
    border: none;
    outline: unset;
    cursor: pointer;
}

main {
    height: 80vh;
    width: 150vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-left: 12%;  
}

input, textarea {
    font-family: kindergarten;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.container {
    background-color: rgba(246, 240, 161, 0.727);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
}

#ToDoListCreator {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 10px;
    padding: 13vh;
}

#title {
    width: 50%;
    margin-right: 15%;
}

#description {
    width: 50%;
    height: 100px;
}

.btnPlus {
    height: 40px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgba(4, 2, 2, 0.596);
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 30px;
}

#ToDoListContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#postit {
    position: relative;
    text-align: center;
    width: 35vh;
    height: 35vh;
    font-family: "kindergarten";
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transform: rotate(-3deg);
    position: relative;
    background-color: #e3b1df;   
}
#postit::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 50px 50px 0;
    border-style: solid;
    border-color: #f4f4f4 transparent transparent transparent;
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.281);
}

#pin {
position: absolute;
top: 0;
right: 0;
width: 90px;
transform: translate(30%, -30%);
}
#postit p:nth-child(2n) {
    font-size: 18px;
    text-transform: capitalize;
}

#ToDoListContainer p:first-child{
    font-size: 30px;
    font-weight: bold; 
}


#postit button {
    text-shadow: 0 1px 1px #0f0f0c, 0 40px 60px #020001;
    color: #c21313;
}
#postit.scroller{
    width: 35vh;
    height: 35vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
#postit.scroller:-webkit-scrollbar {
    display: none;
}
.fin {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
footer img {
    height: 20px;
}
